/* Font */
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.page-title {
  font-family: 'Philosopher';
  font-weight: 900;
  color: #fff;
  font-size: 5mm;
  background-color: var(--primary-color-book);
  width: 100%;
  justify-content: start;
  padding: 3mm 10mm;
  }

.paragraph-title {
  font-family: "Philosopher";
  font-weight: 600;
  font-size: 4mm;
}

.paragraph-subtitle {
  font-family: "Philosopher";
  font-weight: 600;
  font-size: 3.8mm;
}

.paragraph-content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5mm;
}

.border-left {
  padding-left: 3mm;
  border-left: 1.5mm solid var(--primary-color-book);
}
/* Colors */
:root {
  --primary-color-book: #fff;
}

.listening-speaking {
  --primary-color-book: #ff6fb5;
}

.reading-writting {
  --primary-color-book: #5eaaa8;
}

.task-based-assessment {
  --primary-color-book: #dd2c00;
}

.vocab-grammar {
  --primary-color-book: #3e7c17;
}

.welcome {
  --primary-color-book: #f4a442;
}
