/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                    V A R I A B L E S                                           */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/


:root
{
   --color-paper: #fff;
    --color-light: #f3f3f6;
    --color-medium: #ededf1;
    --color-dark: #ccd;   
 
 --color-alt-1:          #f8f5f0;
 --color-alt-2:          #d9d3cb;
 
 --color-accented:       #28ddb9;
 --color-accented-light: #f66f9f;
 
 --color-alert:          #ff0084;
 --color-alert-light:    #f66f9f;
 
 --color-good:           #74d17f;
 --color-soso:           #f9ba2d; 
 --color-bad:            #de4c4c;
 
 --color-text-light:     #fdfbfb;
 --color-text-dark:      #585556;
 
 --color-black:          black; 
 --color-gray:           #8b8b8b;
 --color-white:          white;
 --color-noted:          #4db8c1;
 
 --color-wheel-0:        #774F38;
 --color-wheel-1:        #E08E79;
 --color-wheel-2:        #A4DCA8;  
 --color-wheel-3:        #8B4FA7;
 --color-wheel-4:        #C5E0DC;
 --color-wheel-5:        #74A3B3;
 --color-wheel-6:        #3B5F6D;
 --color-wheel-7:        #253944;
 --color-wheel-8:        #F5C594;
 --color-wheel-9:        #AE7132;
 --color-wheel-10:       #FCD4CA;
 --color-wheel-11:       #F5C2BF;
 --color-wheel-12:       #EF9BAA;
 --color-wheel-13:       #AB8AE1;
 --color-wheel-14:       #ECE5CE;
 --color-wheel-15:       #F1D4AF;
 
 --shadow-sharp-bottom:  0px 0px 7px -3px #ccc;
 --shadow-sharp-top:     0px -5px 10px 0px rgba(50, 50, 50, 0.3);
 --shadow-sharp-right:   11px 4px 23px -8px rgba(0,0,0,0.76);
 --shadow-soft-bottom:   0px 0px 121px -3px rgba(0,0,0,0.47); 
 --shadow-soft-right:    12px -1px 50px -9px rgba(0,0,0,0.47);
 
 --shadow-sharp-text:    0px 5px 10px  rgba(50, 50, 50, 0.3);
 --shadow-soft-text:     0px 0px 121px rgba(0,0,0,0.47); 
}



@font-face 
{
 font-family: "main-light";
 src: url("../../resources/fonts/NotoSans-Thin.woff2") format("woff2");
}

@font-face 
{
 font-family: "main-plain";
 src: url("../../resources/fonts/NotoSans-Regular.woff2") format("woff2");
}

@font-face 
{
 font-family: "main-bold";
 src: url("../../resources/fonts/NotoSans-Bold.woff2") format("woff2");
}


@font-face 
{
 font-family: "main-cursive";
 src: url("../../resources/fonts/NotoSans-Italic.woff2") format("woff2");
}


@font-face 
{
 font-family: "cartoon";
 src: url("../../resources/fonts/cartoon.woff2") format("woff2");
}

@font-face 
{
 font-family: "comicbook";
 src: url("../../resources/fonts/comicbook.woff2") format("woff2");
}

@font-face 
{
 font-family: "fancy";
 src: url("../../resources/fonts/3d.woff2") format("woff2");
}

@font-face 
{
 font-family: "handwriting";
 src: url("../../resources/fonts/handwriting.woff2") format("woff2");
}


@font-face 
{
 font-family: "diacritics";
 src: url("../../resources/fonts/Andika-cyrillic-ext.woff2") format("woff2");
}

@font-face 
{
 font-family: "extra handwriting";
 src: url("../../resources/fonts/KgNeatlyPrinted-6Gwg.woff2") format("woff2");
}

@font-face 
{
 font-family: "extra handwriting spaced";
 src: url("../../resources/fonts/KgNeatlyPrintedSpaced-yxrm.woff2") format("woff2");
}

@font-face 
{
 font-family: "extra typography";
 src: url("../../resources/fonts/Plantin Infant MT Std.woff2") format("woff2");
}








/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                  C O L O R   S C H E M E S                                     */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/


.color-noted
{
 color:            var(--color-noted);   
}


.color-accented
{
 background-color: var(--color-accented);
 color:            var(--color-text-dark);   
}



.color-dark
{
 background-color: var(--color-dark);
 color:            var(--color-text-dark);   
}



.color-medium
{
 background-color: var(--color-medium);
 color:            var(--color-text-dark);   
}



.color-light
{
 background-color: var(--color-light);
 color:            var(--color-text-dark);   
}


.color-white
{
 background-color:  var(--color-white);
 color:             var(--color-black);
}


.color-input
{
 background-color: var(--color-white);
 color:            var(--color-black);
}



.gradient-shadow-vertical
{
 background:linear-gradient(0deg, rgba(0,0,0,0.67) 0%, rgba(255,255,255,0) 50%);
}



.gradient-dark-vertical
{
 background:linear-gradient(0deg, var(--color-dark) 0%, rgba(255,255,255,0) 50%);
}




/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                     S T R U C T U R E                                          */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/


.structure-fullscreen
{
 position: absolute;
 top:      0;
 bottom:   0;
 left:     0; 
 right:    0;
}



.structure-overlay
{
 position : absolute; 
 left     : 0; 
 top      : 0; 
 width    : 100%; 
 height   : 100%; 
}


.structure-seamless
{
 border: 0px                   !important;
 background-color: transparent           ; 
 outline: none                 !important;
 resize: none                  !important;
}


.structure-seamless-noted
{
 border-top: 0px                             !important;
 border-left: 0px                            !important;
 border-right: 0px                           !important;
 border-bottom: 1px solid var(--color-noted) !important;
 background-color: transparent;              !important;
 outline: none                               !important;
 resize: none                                !important;
}


.structure-absolute-center
{
 position:  absolute;
 left:      50%;
 top:       50%;
 transform: translate(-50%,-50%);
}





/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                       S P A C I N G                                            */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/

.padding-minimal
{
 padding:    4px;
 box-sizing: border-box;
}


.padding-small
{
 padding:    8px;
 box-sizing: border-box;
}


.padding-medium
{
 padding:    16px;
 box-sizing: border-box;
}

.padding-medium-right
{
 padding-right:    16px;
 box-sizing: border-box;
}

.padding-medium-left
{
 padding-left:    16px;
 box-sizing: border-box;
}

.padding-medium-top
{
 padding-top:    16px;
 box-sizing: border-box;
}

.padding-medium-bottom
{
 padding-bottom:    16px;
 box-sizing: border-box;
}



.padding-large
{
 padding:    32px;
 box-sizing: border-box;
}


.padding-vertical
{
 padding-left:  0px !important;
 padding-right: 0px !important;
}


.padding-horizontal
{
 padding-top:    0px !important;
 padding-bottom: 0px !important;
}


.padding-no-left:
{
 padding-left: 0px !important;
}

.padding-no-right:
{
 padding-right: 0px !important;
}

.padding-no-top:
{
 padding-top: 0px !important;
}

.padding-no-bottom:
{
 padding-left: 0px !important;
}


.margin-small
{
 margin: 8px;
}


.margin-medium
{
 margin: 16px;
}


.margin-large
{
 margin: 32px;
}




.gap-small
{
 gap: 6px;
}


.gap-medium
{
 gap: 14px;
}


.gap-large
{
 gap: 28px;
}








/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                       B O R D E R S                                            */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/

.border-rounded
{
 border-radius : 6px;
}

.border-rounded-minimal
{
 border-radius : 3px;
}



.border-circle
{
 border-radius : 50%;
}




.border-dark
{
 border: 1px solid var(--color-dark); 
}



.border-noted-bottom
{
 border-bottom: 1px solid var(--color-noted); 
}



.border-medium
{
 border: 1px solid var(--color-medium); 
}



.border-3d-bottom
{
 border-top:    1px solid var(--color-medium); 
 border-left:   1px solid var(--color-medium); 
 border-right:  1px solid var(--color-medium); 
 border-bottom: 3px solid var(--color-dark); 
}



.border-grip-left
{
 border-left:   4px solid var(--color-accented); 
}











/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                        S T Y L E S                                             */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/


.style-clickable
{
 cursor:      pointer;
 user-select: none;
}


.style-smooth-normal
{
 transition: all 0.33s ease-in-out; 
}

.style-smooth-fast
{
 transition: all 0.25s ease-in-out; 
}

.style-smooth-slow
{
 transition: all 0.5s ease-in-out; 
}



.style-evanescent-partial
{
 transition:  all 0.33s ease-in-out; 
 opacity: 0.33;
}

.style-evanescent-partial:hover
{
 opacity: 0.75;
}


.style-evanescent-total
{
 transition:  all 0.33s ease-in-out; 
 opacity: 0;
}

.style-evanescent-total:hover
{
 opacity: 0.5;
}

.style-evanescent-appear
{
 xtransition:  all 0.33s ease-in-out; 
 visibility: hidden;
}

.style-evanescent-appear:hover
{
 visibility:visible;
}



.style-growing
{
 transition:  all 0.33s ease-in-out; 
 transform:none;
}

.style-growing:hover
{
 transform:scale(1.1);
}



.style-selectable
{
 cursor    :  pointer;
 transition:  all 0.25s ease-in-out; 
 user-select: none;
}

.style-selectable:hover
{
 box-shadow:       var(--shadow-sharp-bottom);
}



.style-pushable
{
 cursor    :  pointer;
 transition:  all 0.25s 0s ease-in-out; 
 user-select: none;
}

.style-pushable:hover
{
 box-shadow:       var(--shadow-sharp-bottom);
 background-color: var(--color-accented) !important;
}




.style-pushable-flat
{
 cursor    :  pointer;
 transition:  all 0.25s 0s ease-in-out; 
 user-select: none;
}

.style-pushable-flat:hover
{
 background-color: var(--color-accented) !important;
}




.effect-highlight-light
{
 cursor    :  pointer;
 transition:  all 0.25s ease-in-out; 
 user-select: none;
}

.effect-highlight-light:hover
{
 background-color: var(--color-light) !important;
}



.effect-highlight-accented
{
 cursor    :  pointer;
 transition:  all 0.25s ease-in-out; 
 user-select: none;
}

.effect-highlight-accented:hover
{
 background-color: var(--color-accented) !important;
 color:            var(--color-white);
}



.effect-highlight-text
{
 cursor    :  pointer;
 transition:  all 0.25s ease-in-out; 
 user-select: none;
}

.effect-highlight-text:hover
{
 color: var(--color-accented) !important;
}





.effect-highlight-outline
{
 cursor    :  pointer;
 transition:  all; 
 user-select: none;
}

.effect-highlight-outline:hover
{
 outline: 3px solid var(--color-accented);	
}








.style-disabled
{ 
 opacity :       0.5;
 cursor  :       default !important;
 user-select:    none;
 pointer-events: none;
}





.style-blurred-light 
{ 
 filter:blur(2px);
}



.style-blurred-medium 
{ 
 filter:blur(4px);
}



.style-blurred-strong
{
 filter:blur(16px);
}


.style-blurred-heavy
{
 filter:blur(32px);
}



.style-glass-thin
{
 opacity:0.5; 
 background-color:var(--color-black);
 mix-blend-mode:multiply; 
}



.style-translucent-light
{
 opacity:0.33;
}



.style-translucent-medium
{
 opacity:0.5;
}



.style-drag-dragging
{
 opacity:        0.67;
 mix-blend-mode: multiply;
}





.style-highlight-accented
{
 background-color: var(--color-accented) !important;
}


.style-highlight-light
{
 background-color: var(--color-light) !important;
}




.style-outlined-bad
{
 outline: 3px solid var(--color-bad);
}


.style-outlined-alert
{
 outline: 3px solid var(--color-alert);
}

.style-outlined-soso
{
 outline: 3px solid var(--color-soso);
}


.style-outlined-good
{
 outline: 3px solid var(--color-good);
}


.style-outlined-accented
{
 outline: 3px solid var(--color-accented);
}


.outline-inner
{
 outline-offset: -3px;
}


.style-underlined
{
 text-decoration: solid underline 2px;
 text-underline-offset: 4px;
}










/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                        S H A D O W S                                           */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/


.shadow-sharp-bottom
{
 box-shadow: var(--shadow-sharp-bottom);
}




.shadow-sharp-top
{
 box-shadow: var(--shadow-sharp-top);
}



.shadow-sharp-right
{
 box-shadow: var(--shadow-sharp-right);
}

.shadow-sharp-text
{
 text-shadow: var(--shadow-sharp-text);
}



.shadow-soft-bottom
{
 box-shadow: var(--shadow-soft-bottom);
}


.shadow-soft-right
{
 box-shadow: var(--shadow-soft-right);
}


.shadow-soft-text
{
 text-shadow: var(--shadow-soft-text);
}







/*------------------------------------------------------------------------------------------------*/
/*                                                                                                */
/*                                     T R A N S I T I O N S                                      */
/*                                                                                                */
/*------------------------------------------------------------------------------------------------*/






